html {
  font-size: 10px;
  box-sizing: border-box;
}

​*,
*::before,
*::after {
  font-size: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

​img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

a:focus,
button:focus {
  outline: none;
}

#root {
  position: relative;
}

/*
*  SCROLLBAR
*/
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 2px;
}

::-webkit-scrollbar:horizontal {
  width: unset;
  height: 4px;
}

::-webkit-scrollbar-thumb:horizontal {
  background: #c1c1c1;
  border-radius: 2px;
}
/*
*  SCROLLBAR
*/

/*
*  Retina CSS
*/
/* @media only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2) {
  html {
    font-size: 20px;
  }
} */
/*
*  Retina CSS
*/
