html {
  font-size: 16px;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

​*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

​img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

a:focus,
button:focus {
  outline: none;
}

/*
*  SCROLLBAR
*/
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 2px;
}

::-webkit-scrollbar:horizontal {
  width: unset;
  height: 4px;
}

::-webkit-scrollbar-thumb:horizontal {
  background: #c1c1c1;
  border-radius: 2px;
}
/*
*  SCROLLBAR
*/
