@value primary-color: #03adec;
@value secondary-color: #033192;
@value active-color: #fc6213;

@value logo-family: 'Salsa', cursive;
@value primary-family: 'Andika', sans-serif;
@value text-family: 'Podkova', serif;
