@value colors: '../../styles/variables.css';
@value font: '../../styles/variables.css';
@value primary-color, secondary-color, third-color from colors;
@value primary-font-family, primary-font-weight, primary-font-size, secondary-font-size from font;

.main {
  position: relative;
}

.header {
  width: 100%;
  height: 4rem;
  position: absolute;
  display: grid;
  grid: 1fr / repeat(2, 1fr);
  place-content: center spase-between;
  place-items: center start;
}

.logo {
  font-size: 1.875rem; /* 30px */
  background: linear-gradient(to right, third-color 0%, primary-color 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: primary-color;
  display: table;
  font-family: primary-font-family;
  font-weight: primary-font-weight;
  margin-left: 1em;
}

.nav {
  font-size: 1.25rem; /* 20px */
  width: 100%;
  display: grid;
  grid: 1fr / repeat(3, 1fr);
  place-content: center spase-between;
  place-items: center center;
  color: primary-color;
  font-family: primary-font-family;
}

.navItem > a {
  color: primary-color;
}

.bgImg {
  width: 100%;
  height: 100vh;
}
