.main {
  height: 100vh;
  background-image: url("../../images/bg/main-bg-img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #000;
}
