@value colors: '../../styles/variables.css';
@value fonts: '../../styles/variables.css';
@value primary-color, secondary-color, active-color from colors;
@value text-family from fonts;

.main {
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  overflow-x: hidden;
  overflow-y: auto;
}

.header {
  transform-origin: top;
  animation: translate 5000ms;
}

@keyframes translate {
  0% {
    transform: translateY(-100%);
  }
  95% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

.wrapMobile {
  width: 95%;
  height: 85%;
  position: absolute;
  top: 4em;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  opacity: 0;
}

.textMobile,
.psMobile {
  font-size: 1.25rem; /* 20px */
  line-height: 1.1em;
  font-family: text-family;
  background: linear-gradient(to left, secondary-color 0%, primary-color 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: justify;
}

.widthLaptop {
  width: 80%;
}

.heightLaptop {
  height: 0;
  padding-top: 66.66%;
  position: relative;
  background-image: url('../../assets/images/bg/main-bg-img.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapScreen {
  width: 64%;
  height: 64%;
  position: absolute;
  top: 13%;
  left: 16.5%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.4em;
  border: 0.125em solid primary-color;
  background: #000;
  opacity: 1;
  /* background: red; */
  /* opacity: 0.2; */
  animation: screen 10000ms;
}

@keyframes screen {
  0% {
    opacity: 0;
  }

  /* 1 */
  30% {
    opacity: 0;
  }
  31% {
    opacity: 1;
    border: none;
  }
  32% {
    opacity: 0;
  }

  /* 2 */
  46% {
    opacity: 0;
  }
  47% {
    opacity: 1;
    border: none;
  }
  48% {
    opacity: 0;
  }
  49% {
    opacity: 1;
    border: none;
  }
  50% {
    opacity: 1;
    border: none;
  }
  51% {
    opacity: 0;
  }

  /* 3 */
  59% {
    opacity: 0;
  }
  60% {
    opacity: 1;
    border: none;
  }
  61% {
    opacity: 1;
    border: none;
  }
  62% {
    opacity: 0;
  }
  63% {
    opacity: 1;
    border: none;
  }
  64% {
    opacity: 0;
  }
  65% {
    opacity: 1;
    border: none;
  }
  68% {
    opacity: 1;
    border: none;
  }
  69% {
    opacity: 0;
  }

  /* 4 */
  83% {
    opacity: 0;
  }
  84% {
    opacity: 1;
    border: none;
  }
  86% {
    opacity: 1;
    border: none;
  }
  87% {
    opacity: 0;
  }
  88% {
    opacity: 1;
    border: none;
  }

  /* 5 */
  92% {
    opacity: 1;
    border: none;
  }
  93% {
    opacity: 0;
  }
  96% {
    opacity: 0;
  }
  97% {
    opacity: 1;
    border: none;
  }
  98% {
    opacity: 1;
    border: none;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

.topLeft,
.topRight,
.bottomLeft,
.bottomRight,
.leftTop,
.rightTop,
.leftBottom,
.rightBottom {
  position: absolute;
  background: #000;
}

.topLeft,
.topRight,
.bottomLeft,
.bottomRight {
  width: 0%;
  height: 0.5em;
  animation: width 3000ms ease-in 10000ms;
}

@keyframes width {
  0% {
    width: 50%;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 0%;
  }
}

.topLeft {
  top: -0.25em;
  left: 0;
}

.topRight {
  top: -0.25em;
  right: 0;
}

.bottomLeft {
  bottom: -0.25em;
  left: 0;
}

.bottomRight {
  bottom: -0.25em;
  right: 0;
}

.leftTop,
.rightTop,
.leftBottom,
.rightBottom {
  width: 0.5em;
  height: 0%;
  animation: height 4000ms ease-in 10000ms;
}

@keyframes height {
  0% {
    height: 50%;
  }
  75% {
    height: 50%;
  }
  100% {
    height: 0%;
  }
}

.leftTop {
  left: -0.25em;
  top: 50%;
}

.rightTop {
  right: -0.25em;
  top: 50%;
}

.leftBottom {
  left: -0.25em;
  bottom: 50%;
}

.rightBottom {
  right: -0.25em;
  bottom: 50%;
}

.text,
.ps {
  font-size: 1.625rem; /* 26px */
  line-height: 1.1em;
  font-family: text-family;
  background: linear-gradient(to left, secondary-color 0%, primary-color 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: justify;
  margin: 1em;
  opacity: 1;
  animation: text 16000ms ease-in;
  /* animation: text 1000ms ease-in; */
}

/* .ps {
  width: 105ch;
  white-space: nowrap;
  border-right: 2px solid primary-color;
  animation: text 100000ms steps(105), cursor 750ms step-start infinite;
} */

@keyframes text {
  0% {
    opacity: 0;
  }
  93% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }

  /* ===================== */
  /* from {
    width: 0;
  } */
}

/* @keyframes cursor {
  0% {
    border-color: primary-color;
  }
  50% {
    border-color: transparent;
  }
  100% {
    border-color: primary-color;
  }
} */

@media (max-width: 1679px) {
  .text,
  .ps {
    font-size: 1.25rem; /* 20px */
  }
}

@media (max-width: 1279px) {
  .text,
  .ps {
    font-size: 1rem; /* 16px */
  }
}

@media (max-width: 1023px) {
  .wrapScreen {
    border-radius: 0.2em;
    border: 0.0625em solid primary-color;
  }

  .text,
  .ps {
    font-size: 0.75rem; /* 12px */
  }
}

@media (max-width: 767px) {
  .main {
    overflow: hidden;
  }

  .wrapMobile {
    opacity: 1;
    animation: opacity 16000ms ease-in;
  }

  @keyframes opacity {
    0% {
      opacity: 0;
    }
    99% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .heightLaptop {
    opacity: 0;
    transform: scale(7);
    animation: scale 15000ms ease-in;
  }

  @keyframes scale {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    94% {
      transform: scale(1);
      opacity: 1;
    }
    99% {
      transform: scale(7);
      opacity: 1;
    }
    100% {
      transform: scale(7);
      opacity: 0;
    }
  }

  .wrapScreen {
    height: 64.2%;
  }
}

@media (max-width: 359px) {
  .textMobile,
  .psMobile {
    font-size: 1rem; /* 16px */
  }
}
