@value colors: '../../styles/variables.css';
@value fonts: '../../styles/variables.css';
@value primary-color, active-color from colors;
@value primary-family, primary-weight from fonts;

.main {
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("../../assets/images/bg/cv-bg-img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  overflow-y: auto;
}

.downloadWrap {
  position: relative;
  top: 5em;
  width: fit-content;
  height: 3.125em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  overflow: hidden;
  font-family: primary-family;
  font-weight: primary-weight;
  transition: 0.5s;
}

.downloadSpan {
  font-size: 20px;
  position: absolute;
  color: active-color;
  text-align: center;
  width: fit-content;
  padding: 0 1em;
  font-family: primary-family;
  font-weight: primary-weight;
  overflow: hidden;
}

.downloadLink {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 100%;
  padding: 0 1em;
  font-family: primary-family;
  font-weight: primary-weight;
  background: rgba(0, 0, 0, 0.7);
  -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
  mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
  -webkit-mask-size: 2300% 100%;
  mask-size: 2300% 100%;
  color: primary-color;
  cursor: pointer;
  animation: ani2 700ms steps(22) forwards;
}

.downloadLink:hover {
  animation: ani 700ms steps(22) forwards;
}

@keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }

  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

@keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }

  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}

.tabletContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
}

.tabletWrap {
  width: 90%;
  position: relative;
  top: 6em;
  margin-bottom: 4em;
  overflow: hidden;
  transition: transform 700ms ease-in;
}

.tabletWrapActive {
  overflow: unset;
}

.tablet {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.btn {
  width: 100%;
  height: 134%;
  position: absolute;
  top: 21%;
  left: 5%;
  transform: rotate3D(44, -41, 52, 66deg);
  border: none;
  padding: 0;
  margin: 0;
  background: transparent;
  cursor: pointer;
  z-index: 2;
}

.cvWrap {
  width: 100%;
  position: absolute;
  top: 4%;
  left: -15%;
  transform: rotate3D(44, -41, 52, 66deg);
  transition: transform 700ms ease-in;
}

.cvWrapActiveZIndex {
  cursor: pointer;
  z-index: 3;
}

.tabletContainer .cvWrapActive {
  top: 0%;
  left: 0%;
  transform: rotate3D(0, 0, 0, 0deg);
  margin-bottom: 2em;
}

.link {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.linkActive {
  pointer-events: auto;
}

.cv {
  width: 100%;
  height: 100%;
}

@media (min-width: 801px) {
  .btn:hover + .cvWrap .cv {
    animation: color 700ms infinite;
  }

  @keyframes color {
    0% {
      transform: scale(1);
    }
    70% {
      transform: scale(1.01);
    }
    100% {
      transform: scale(1);
    }
  }
}
