.main {
  height: 100vh;
  position: relative;
  background-image: url('../../images/bg/del/5.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.tabletWrap {
  width: 95%;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.cvWrap {
  width: 100%;
  position: absolute;
  top: 4%;
  left: -15%;
  transform: rotate3D(44, -41, 52, 66deg);
  z-index: -1;
}

.tablet {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.cv {
  width: 100%;
  height: 100%;
}
