.main {
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('../../assets/images/bg/cv-bg-img2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: auto;
}

.tabletContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  /* padding-top: 3em; */
}

.tabletWrap {
  width: 90%;
  position: relative;
  top: 7em;
  margin-bottom: 4em;
  overflow: hidden;
  transition: transform 700ms ease-in;
}

.tabletWrapActive {
  overflow: unset;
}

.tablet {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.btn {
  width: 100%;
  height: 134%;
  position: absolute;
  top: 21%;
  left: 5%;
  transform: rotate3D(44, -41, 52, 66deg);
  border: none;
  padding: 0;
  margin: 0;
  background: transparent;
  cursor: pointer;
  z-index: 2;
}

.cvWrap {
  width: 100%;
  position: absolute;
  top: 4%;
  left: -15%;
  transform: rotate3D(44, -41, 52, 66deg);
  transition: transform 700ms ease-in;
}

.cvWrapActiveZIndex {
  z-index: 3;
}

.tabletContainer .cvWrapActive {
  top: 0%;
  left: 0%;
  transform: rotate3D(0, 0, 0, 0deg);
  margin-bottom: 2em;
}

.cv {
  width: 100%;
  height: 100%;
}

@media (min-width: 801px) {
  .btn:hover + .cvWrap > .cv {
    animation: color 700ms infinite;
  }

  @keyframes color {
    0% {
      transform: scale(1);
    }
    70% {
      transform: scale(1.01);
    }
    100% {
      transform: scale(1);
    }
  }
}

/* @media (max-width: 1365px) {
  .tabletContainer {
    align-items: flex-start;
  }
} */
