.main {
  height: 100vh;
  position: relative;
  background-image: url('../../assets/images/bg/cv-bg-img.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: auto;
}

.tabletWrap {
  width: 95%;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 1em;
  overflow: hidden;
  transition: transform 700ms ease-in;
}

.tabletWrapActive {
  overflow: unset;
}

.btn {
  width: 100%;
  height: 131%;
  position: absolute;
  top: 21%;
  left: 5%;
  transform: rotate3D(44, -41, 52, 66deg);
  border: none;
  padding: 0;
  margin: 0;
  background: transparent;
  cursor: pointer;
}

.cvWrap {
  width: 100%;
  position: absolute;
  top: 4%;
  left: -15%;
  transform: rotate3D(44, -41, 52, 66deg);
  transition: transform 700ms ease-in;
  z-index: -1;
}

.cvWrapActive {
  top: 0%;
  left: 0%;
  transform: rotate3D(0, 0, 0, 0deg);
  margin-bottom: 2em;
  z-index: 1;
}

.tablet {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.cv {
  width: 100%;
  height: 100%;
  z-index: -1;
}

@media (max-width: 899px) {
  .tabletWrapActive {
    transform: translate(-50%, -100%);
  }
}
