.main {
  height: 100vh;
  position: absolute;
  left: 0;
  right: 0;
  background-image: url("../../assets/images/bg/cv-bg-img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: auto;
}

.tabletContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3em;
}

.tabletWrap {
  width: 90%;
  position: relative;
  top: 4em;
  margin-bottom: 4em;
  overflow: hidden;
  transition: transform 700ms ease-in;
}

.tabletWrapActive {
  overflow: unset;
}

.btn {
  width: 100%;
  height: 134%;
  position: absolute;
  top: 21%;
  left: 5%;
  transform: rotate3D(44, -41, 52, 66deg);
  border: none;
  padding: 0;
  margin: 0;
  background: transparent;
  cursor: pointer;
  z-index: 2;
}

.tablet {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.cvWrap {
  width: 100%;
  position: absolute;
  top: 4%;
  left: -15%;
  transform: rotate3D(44, -41, 52, 66deg);
  transition: transform 700ms ease-in;
}

.cvWrapActive {
  top: 0%;
  left: 0%;
  transform: rotate3D(0, 0, 0, 0deg);
  margin-bottom: 2em;
  z-index: 1;
}

.cv {
  width: 100%;
  height: 100%;
}
