@value colors: '../../styles/variables.css';
@value fonts: '../../styles/variables.css';
@value primary-color, secondary-color, third-color from colors;
@value primary-family, primary-weight from fonts;

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 15em 1em 2em;
  background-color: rgba(0, 0, 0, 0.7);
  position: relative;
  z-index: 1;
}

.logo {
  font-size: 1.875rem; /* 30px */
  background: linear-gradient(to right, third-color 0%, primary-color 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: primary-color;
  display: table;
  font-family: primary-family;
  font-weight: primary-weight;
  z-index: 111;
}

.nav {
  font-size: 1.25rem; /* 20px */
  display: flex;
  align-items: center;
  color: primary-color;
  font-family: primary-family;
  list-style: none;
}

.navItem:not(:last-child) {
  margin-right: 3em;
}

.navItem > a {
  color: primary-color;
}
