@value colors: '../../styles/variables.css';
@value fonts: '../../styles/variables.css';
@value primary-color, secondary-color, active-color from colors;
@value primary-family, logo-family, primary-weight from fonts;

.main {
  box-sizing: border-box;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1em 10em 1em 2em;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
}

.logo {
  font-size: 1.875rem; /* 30px */
  line-height: 1.17em;
  background: linear-gradient(to right, secondary-color 0%, primary-color 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: logo-family;
  font-weight: primary-weight;
  margin-top: -0.1666em;
  z-index: 111;
  transition: all 300ms ease-in;
}

.check {
  display: none;
}

.lineWrap {
  width: 1.875em;
  height: 1.25em;
  position: relative;
  display: none;
  margin-top: 0.3125em;
  cursor: pointer;
  z-index: 1;
}

.nav {
  font-size: 1.125rem; /* 18px */
  line-height: 1.5em;
  display: flex;
  align-items: center;
  color: primary-color;
  font-family: primary-family;
  list-style: none;
}

.navItem:not(:last-child) {
  margin-right: 3em;
}

.link {
  color: primary-color;
  transition: color 300ms ease-in;
}

.navItem:hover > .link {
  color: active-color;
}

.activeLink {
  color: active-color;
}

@media (max-width: 800px) {
  .main {
    padding: 1em 2em;
  }

  .logo {
    order: 1;
    margin: 0 auto;
  }

  .navContainer {
    width: 0;
    position: relative;
  }

  .check:checked ~ .nav {
    height: 4.5em;
    margin-top: 0.75em;
    opacity: 1;
  }

  .check:checked ~ .nav > .navItem {
    pointer-events: unset;
  }

  .lineWrap {
    display: block;
  }

  .line1::before,
  .line2::before,
  .line3::before {
    width: 100%;
    height: 0.125em;
    position: absolute;
    left: 0;
    content: '';
    display: block;
    background-color: #fff;
    transition: all 300ms ease-in;
  }

  .line1::before {
    top: 0;
  }

  .line2::before {
    top: 50%;
    transform: translateY(-50%);
  }

  .line3::before {
    bottom: 0;
  }

  .check:checked ~ .lineWrap > .line1::before {
    transform: translate(0%, 450%) rotate(-45deg);
  }

  .check:checked ~ .lineWrap > .line2::before {
    transform: rotate(45deg);
  }

  .check:checked ~ .lineWrap > .line3::before {
    transform: translate(0%, -450%) rotate(-45deg);
  }

  .nav {
    width: 7.5em;
    height: 0;
    flex-flow: column;
    align-items: flex-start;
    opacity: 0;
    transition: all 300ms ease-in;
  }

  .navItem {
    pointer-events: none;
  }

  .navItem:not(:last-child) {
    margin: 0;
  }
}
