@value colors: '../../styles/variables.css';
@value fonts: '../../styles/variables.css';
@value primary-color from colors;
@value primary-family from fonts;

.langWrap {
  position: fixed;
  top: 0.875em;
  right: 1em;
  z-index: 2;
}

.langWrap:hover ~ a {
  padding-bottom: 1.6em;
}

.label {
  position: absolute;
  top: 0;
  right: 0;
  color: primary-color;
  font-family: primary-family;
  padding: 10px 0;
  cursor: pointer;
}

.enable {
  z-index: 1;
}

:global(.disable1),
:global(.disable2) {
  opacity: 0;
  transition: all 300ms ease-in;
}

:global(.disable1) {
  top: 1.5625em;
  transform: translateY(-1.5625em);
}

:global(.disable2) {
  top: 3.125em;
  transform: translateY(-3.125em);
}

.langWrap:hover :global(.disable1),
.langWrap:hover :global(.disable2) {
  opacity: 1;
  transform: translateY(0);
}

.label > .input {
  display: none;
}

.flag {
  width: 1.375em;
  height: 1em;
  position: absolute;
  top: 0.6875em;
  left: -1.625em;
  display: inline-block;
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}

.en {
  background-image: url('../../assets/images/flag/uk.png');
}

.langWrap:hover .en {
  background-image: url('../../assets/images/flag/uk.gif');
}

.ua {
  background-image: url('../../assets/images/flag/ua.png');
}

.langWrap:hover .ua {
  background-image: url('../../assets/images/flag/ua.gif');
}

.ru {
  background-image: url('../../assets/images/flag/ru.png');
}

.langWrap:hover .ru {
  background-image: url('../../assets/images/flag/ru.gif');
}

@media (max-width: 800px) {
  .label > .span {
    display: none;
  }
}
