@value colors: '../../styles/variables.css';
@value fonts: '../../styles/variables.css';
@value primary-color, secondary-color, third-color from colors;
@value primary-family, primary-weight from fonts;

.langWrap {
  position: fixed;
  top: 0.875em;
  right: 1em;
  z-index: 2;
}

.label {
  position: absolute;
  top: 0;
  right: 0;
  color: primary-color;
  font-family: primary-family;
  padding: 10px 0;
  cursor: pointer;
}

.enable {
  z-index: 1;
}

:global(.disable1),
:global(.disable2) {
  opacity: 0;
  transition: all 0.3s ease-in;
}

:global(.disable1) {
  top: 1.5625em;
  transform: translateY(-1.5625em);
}

:global(.disable2) {
  top: 3.125em;
  transform: translateY(-3.125em);
}

.langWrap:hover :global(.disable1),
.langWrap:hover :global(.disable2) {
  opacity: 1;
  transform: translateY(0);
}

.label > input {
  display: none;
}

.flag {
  width: 2.375em;
  height: 1em;
  position: absolute;
  top: 0.5625em;
  left: -2.625em;
  display: none;
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}

.enable > .flag {
  display: inline-block;
}

.en {
  background-image: url("../../images/flag/uk.png");
}

.langWrap:hover .en {
  background-image: url("../../images/flag/uk.gif");
}

.ua {
  background-image: url("../../images/flag/ua.png");
}

.langWrap:hover .ua {
  background-image: url("../../images/flag/ua.gif");
}

.ru {
  background-image: url("../../images/flag/ru.png");
}

.langWrap:hover .ru {
  background-image: url("../../images/flag/ru.gif");
}
