@value fonts: '../../styles/variables.css';
@value primary-family from fonts;

.main {
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('../../assets/images/bg/contacts-bg-img.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main img {
  margin-right: 1em;
}

.phone,
.telegram,
.viber,
.whatsapp,
.skype,
.mail,
.github,
.linkedin {
  font-size: 1.6rem; /* 16px */
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: primary-family;
}

.phone {
  top: 20%;
  left: 10%;
  color: #fff;
}

.telegram {
  top: 30%;
  left: 10%;
  color: #28a4d8;
}

.viber {
  top: 40%;
  left: 10%;
  color: #9069ae;
}

.whatsapp {
  top: 50%;
  left: 10%;
  color: #118e08;
}

.skype {
  top: 20%;
  left: 80%;
  color: #23a9eb;
}

.mail {
  top: 30%;
  left: 80%;
  color: #d54440;
}

.github {
  top: 40%;
  left: 80%;
  color: #fff;
}

.linkedin {
  top: 50%;
  left: 80%;
  color: #005884;
}

@media (max-width: 767px) {
  .main {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
      ),
      url('../../assets/images/bg/contacts-bg-img.jpg');
  }

  .skype {
    left: 70%;
  }

  .mail {
    left: 70%;
  }

  .github {
    left: 70%;
  }

  .linkedin {
    left: 70%;
  }
}

@media (max-width: 639px) {
  .phone,
  .telegram,
  .viber,
  .whatsapp,
  .skype,
  .mail,
  .github,
  .linkedin {
    left: 40%;
  }

  .phone {
    top: 10%;
  }

  .telegram {
    top: 20%;
  }

  .viber {
    top: 30%;
  }

  .whatsapp {
    top: 40%;
  }

  .skype {
    top: 50%;
  }

  .mail {
    top: 60%;
  }

  .github {
    top: 70%;
  }

  .linkedin {
    top: 80%;
  }
}

@media (max-height: 639px) {
  .telegram,
  .mail {
    top: 40%;
  }

  .viber,
  .github {
    top: 60%;
  }

  .whatsapp,
  .linkedin {
    top: 80%;
  }
}

@media (max-width: 413px) {
  .phone,
  .telegram,
  .viber,
  .whatsapp,
  .skype,
  .mail,
  .github,
  .linkedin {
    left: 35%;
  }
}

@media (max-width: 359px) {
  .phone,
  .telegram,
  .viber,
  .whatsapp,
  .skype,
  .mail,
  .github,
  .linkedin {
    left: 30%;
  }
}
