.contacts {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../../images/bg/contacts-bg-img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
